{% extends "../layouts/company.twig" %}

{% block main %}
	<main>
		{% if error %}
			<p>{{ error }}</p>
		{% endif %}

		<section>
			<h2>Liste des patients</h2>
			<button id="addPatient">+</button>

			{% for patient in patients %}
				<article>
					<h3>{{ patient.lastName }}
						{{ patient.firstName }}</h3>
					<form action="/patients/{{ patient.id }}" method="get">
						<button>Consulter</button>
					</form>
				</article>
			{% endfor %}

			<dialog class="border border-blue-600 rounded-lg shadow-sm shadow-blue-300 absolute m-auto w-2xl" id="patientModal" class="modal">
				<form class="flex flex-col items-center" action="/patients/add" method="post">
					<button class="self-end border rounded-md w-8 mt-2 mr-2 bg-red-400 hover:bg-red-200 shadow-sm shadow-red-600 closeModal" type="button">X</button>
					<label class="m-auto" for="lastName">Nom de famille du patient</label>
					<input class="text-sm m-auto border border-blue-600 rounded-lg w-70 pl-1 shadow-sm shadow-blue-300" type="text" id="lastName" name="lastName" placeholder="ex: DUPONT">
					<label class="m-auto" for="firstName">Prénom du patient</label>
					<input class="text-sm m-auto border border-blue-600 rounded-lg w-70 pl-1 shadow-sm shadow-blue-300" type="text" id="firstName" name="firstName" placeholder="ex: Jacques">
					<p class="text-lg text-center">Adresse du patient</p>
					<label class="m-auto" for="streetNumber">N°</label>
					<input class="text-sm m-auto border border-blue-600 rounded-lg w-20 pl-1 shadow-sm shadow-blue-300" type="text" id="streetNumber" name="streetNumber" placeholder="ex: 123">
					<label class="m-auto" for="street">Voie</label>
					<input class="text-sm m-auto border border-blue-600 rounded-lg w-70 pl-1 shadow-sm shadow-blue-300" type="text" id="street" name="street" placeholder="ex: rue du Paradis">
					<label class="m-auto" for="zipCode">Code postal</label>
					<input class="text-sm m-auto border border-blue-600 rounded-lg w-30 pl-1 shadow-sm shadow-blue-300" type="text" id="zipCode" name="zipCode" placeholder="ex: 83000">
					<label class="m-auto" for="city">Ville</label>
					<input class="text-sm m-auto border border-blue-600 rounded-lg w-70 pl-1 shadow-sm shadow-blue-300" type="text" id="city" name="city" placeholder="ex: TOULON">
					<label class="m-auto" for="tourId">Tournée</label>
					<select class="text-sm m-auto mt-2 mb-2 border border-blue-600 rounded-lg w-60 pl-1 shadow-sm shadow-blue-300" name="tourId" id="tourId">
						<option value="">--Sélectionnez une tournée--</option>
						{% for tour in company.tours %}
							<option value="{{tour.id}}">{{ tour.name }}</option>
						{% endfor %}
					</select>
					<div class="flex justify-center">
						<button class="m-5 p-2 border rounded-lg w-fit bg-yellow-400 hover:bg-yellow-200 shadow-sm shadow-yellow-600" type="reset">Effacer les champs</button>
						<button class="m-5 p-2 border rounded-lg w-fit bg-blue-400 hover:bg-blue-200 shadow-sm shadow-blue-600">Ajouter le patient</button>
					</div>
				</form>
			</dialog>
		</section>
		<section>
			<h2>Liste des employés</h2>
			<button id="addEmployee">+</button>

			{% for employee in employees %}
				<article>
					<h3>{{ employee.lastName }}
						{{ employee.firstName }}</h3>
					<form action="/employees/{{ employee.id }}" method="get">
						<button>Consulter</button>
					</form>
				</article>
			{% endfor %}

			<dialog class="border border-blue-600 rounded-lg shadow-sm shadow-blue-300 absolute m-auto w-2xl" id="employeeModal" class="modal">
				<form class="flex flex-col items-center" action="/employees/add" method="post">
					<button class="self-end border rounded-md w-8 mt-2 mr-2 bg-red-400 hover:bg-red-200 shadow-sm shadow-red-600 closeModal" type="button">X</button>
					<label class="m-auto" for="lastName">Nom de famille de l'employé</label>
					<input class="text-sm m-auto border border-blue-600 rounded-lg w-70 pl-1 shadow-sm shadow-blue-300" type="text" id="lastName" name="lastName" placeholder="ex: DUPONT">
					<label class="m-auto" for="firstName">Prénom de l'employé</label>
					<input class="text-sm m-auto border border-blue-600 rounded-lg w-70 pl-1 shadow-sm shadow-blue-300" type="text" id="firstName" name="firstName" placeholder="ex: Jacques">
					<label class="m-auto" for="mail">Adresse mail de l'employé</label>
					<input class="text-sm m-auto border border-blue-600 rounded-lg w-70 pl-1 shadow-sm shadow-blue-300" type="mail" id="mail" name="mail" placeholder="ex: jacques.dupont@gmail.com">
					<label class="m-auto" for="password">Mot de passe initial</label>
					{# <p>Le mot de passe sera changé par l'employé à sa première connexion.</p> #}
					<input class="text-sm m-auto border border-blue-600 rounded-lg w-70 pl-1 shadow-sm shadow-blue-300" type="password" id="password" name="password" placeholder="Au moins 12 caractères avec majuscule(s), minuscule(s) et chiffre(s)">
					<label class="m-auto" for="birthday">Date de naissance de l'employé (facultatif)</label>
					<input class="text-sm m-auto border border-blue-600 rounded-lg w-40 pl-1 shadow-sm shadow-blue-300" type="date" id="birthday" name="birthday">
					<label class="m-auto" for="gender">Genre de l'employé (facultatif)</label>
					<select class="text-sm m-auto mt-2 mb-2 border border-blue-600 rounded-lg w-60 pl-1 shadow-sm shadow-blue-300" id="gender" name="gender">
						<option value="">--Sélectionnez un genre--</option>
						<option value="male">Homme</option>
						<option value="female">Femme</option>
						<option value="other">Autre</option>
					</select>
					<div class="flex justify-center">
						<button class="m-5 p-2 border rounded-lg w-fit bg-yellow-400 hover:bg-yellow-200 shadow-sm shadow-yellow-600" type="reset">Effacer les champs</button>
						<button class="m-5 p-2 border rounded-lg w-fit bg-blue-400 hover:bg-blue-200 shadow-sm shadow-blue-600">Ajouter l'employé</button>
					</div>
				</form>
			</dialog>
		</section>
		<section>
			<h2>Liste des véhicules</h2>
			<button id="addCar">+</button>

			{% for car in cars %}
				<article>
					<h3>{{ car.name }}
						({{ car.plate }})</h3>
					<form action="/cars/{{ car.id }}" method="get">
						<button>Consulter</button>
					</form>
				</article>
			{% endfor %}

			<dialog class="border border-blue-600 rounded-lg shadow-sm shadow-blue-300 absolute m-auto w-2xl" id="carModal" class="modal">
				<form class="flex flex-col items-center" action="/cars/add" method="post">
					<button class="self-end border rounded-md w-8 mt-2 mr-2 bg-red-400 hover:bg-red-200 shadow-sm shadow-red-600 closeModal" type="button">X</button>
					<label class="m-auto" for="name">Nom du véhicule</label>
					<input class="text-sm m-auto border border-blue-600 rounded-lg w-70 pl-1 shadow-sm shadow-blue-300" type="text" id="name" name="name" placeholder="Nom du véhicule">
					<label class="m-auto" for="plate">Immatriculation du véhicule</label>
					<input class="text-sm m-auto border border-blue-600 rounded-lg w-30 pl-1 shadow-sm shadow-blue-300" type="text" id="plate" name="plate" placeholder="ex : AA123ZZ">
					<div class="flex justify-center">
						<button class="m-5 p-2 border rounded-lg w-fit bg-yellow-400 hover:bg-yellow-200 shadow-sm shadow-yellow-600" type="reset">Effacer les champs</button>
						<button class="m-5 p-2 border rounded-lg w-fit bg-blue-400 hover:bg-blue-200 shadow-sm shadow-blue-600">Ajouter le véhicule</button>
					</div>
				</form>
			</dialog>
		</section>
	</main>
{% endblock %}

{% block script %}
	<script src="/static/scripts/companyDashboard.js"></script>
{% endblock %}
