{% extends "../layouts/company.twig" %}

{% block style %}
	<link rel="stylesheet" href="./styles/companyDashboard.css">
{% endblock %}

{% block main %}
	{# <section>
														    <h2>Patients</h2>
														</section> #}
	<section>
		<h2>Mes employés</h2>
		<button id="addEmployee">+</button>

		{% for employee in employees %}
			<article>
				<h3>{{ employee.lastName }}
					{{ employee.firstName }}</h3>
					<form action="/employees/{{ employee.id }}" method="get"><button>Consulter</button></form>
			</article>
		{% endfor %}

		<dialog id="employeeModal" class="modal">
			<button class="closeModal">X</button>
			<form action="/employees/add" method="post">
				<label for="lastName">Nom de famille de l'employé</label>
				<input type="text" id="lastName" name="lastName" placeholder="ex: DUPONT">
				<label for="firstName">Prénom de l'employé</label>
				<input type="text" id="firstName" name="firstName" placeholder="ex: Jacques">
				<label for="mail">Adresse mail de l'employé</label>
				<input type="mail" id="mail" name="mail" placeholder="ex: jacques.dupont@gmail.com">
				<label for="password">Mot de passe initial</label>
				{# <p>Le mot de passe sera changé par l'employé à sa première connexion.</p> #}
				<input type="password" id="password" name="password" placeholder="Au moins 12 caractères avec majuscule(s), minuscule(s) et chiffre(s)">
				<label for="birthday">Date de naissance de l'employé (facultatif)</label>
				<input type="date" id="birthday" name="birthday">
				<label for="gender">Genre de l'employé (facultatif)</label>
				<select id="gender" name="gender">
					<option value="">--Votre genre (facultatif)--</option>
					<option value="male">Homme</option>
					<option value="female">Femme</option>
					<option value="other">Autre</option>
				</select>
				<button type="reset">Effacer les champs</button>
				<button>Ajouter l'employé</button>
			</form>
		</dialog>
	</section>
	<section>
		<h2>Mes véhicules</h2>
		<button id="addCar">+</button>

		{% for car in cars %}
			<article>
				<h3>{{ car.name }}
					({{ car.plate }})</h3>
					<form action="/cars/{{ car.id }}" method="get"><button>Consulter</button></form>
			</article>
		{% endfor %}

		<dialog id="carModal" class="modal">
			<button class="closeModal">X</button>
			<form action="/cars/add" method="post">
				<label for="name">Nom du véhicule</label>
				<input type="text" id="name" name="name" placeholder="Nom du véhicule">
				<label for="plate">Immatriculation du véhicule</label>
				<input type="text" id="plate" name="plate" placeholder="ex : AA123ZZ">
				<button>Ajouter le véhicule</button>
			</form>
		</dialog>
	</section>
{% endblock %}

{% block script %}
	<script src="./scripts/companyDashboard.js"></script>
{% endblock %}
