{% extends "../layouts/company.twig" %}

{% block main %}
	<main class="p-10 bg-neutral-100">

		{% if update %}
			<form class="flex flex-col md:gap-3" action="/employees/{{employee.id}}/update" method="post">
				<h2 class="text-2xl text-center pb-5 md:text-3xl 2xl:text-4xl">Modifier les informations de l'employé sélectionné</h2>
				<div class="flex flex-col">
					<label class="m-auto md:text-2xl 2xl:text-3xl" for="lastName">Nom de famille</label>
					<input class="text-sm md:text-lg 2xl:text-2xl m-auto border border-blue-600 rounded-lg w-70 md:w-80 2xl:w-90 pl-1 shadow-sm shadow-blue-300" type="text" id="lastName" name="lastName" value="{{employee.lastName}}">
				</div>
				<div class="flex flex-col">
					<label class="m-auto md:text-2xl 2xl:text-3xl" for="firstName">Prénom</label>
					<input class="text-sm md:text-lg 2xl:text-2xl m-auto border border-blue-600 rounded-lg w-70 md:w-80 2xl:w-90 pl-1 shadow-sm shadow-blue-300" type="text" id="firstName" name="firstName" value="{{employee.firstName}}">
				</div>
				<div class="flex flex-col">
					<label class="m-auto md:text-2xl 2xl:text-3xl" for="mail">Adresse mail</label>
					<input class="text-sm md:text-lg 2xl:text-2xl m-auto border border-blue-600 rounded-lg w-70 md:w-80 2xl:w-90 pl-1 shadow-sm shadow-blue-300" type="mail" id="mail" name="mail" value="{{employee.mail}}">
				</div>
				<div class="flex flex-col">
					<label class="m-auto md:text-2xl 2xl:text-3xl" for="birthday">Date de naissance (facultatif)</label>
					<input class="text-sm md:text-lg 2xl:text-2xl m-auto border border-blue-600 rounded-lg w-40 md:w-50 2xl:w-60 pl-1 shadow-sm shadow-blue-300" type="date" id="birthday" name="birthday" value="{{birthday}}">
				</div>
				<div class="flex flex-col">
					<label class="m-auto md:text-2xl 2xl:text-3xl" for="gender">Genre (facultatif)</label>
					<select class="text-sm md:text-lg 2xl:text-2xl m-auto mt-2 mb-2 border border-blue-600 rounded-lg w-60 md:w-70 2xl:w-80 pl-1 shadow-sm shadow-blue-300" id="gender" name="gender">
						<option value="">--Sélectionnez le genre (facultatif)--</option>
						<option value="male">Homme</option>
						<option value="female">Femme</option>
						<option value="other">Autre</option>
					</select>
				</div>
				<div class="flex justify-center">
					<button class="2xl:text-2xl font-bold m-5 p-2 border rounded-lg w-fit bg-blue-400 hover:bg-blue-200 shadow-sm shadow-blue-600" name="updateYes">Valider</button>
					<button class="2xl:text-2xl font-bold m-5 p-2 border rounded-lg w-fit bg-red-400 hover:bg-red-200 shadow-sm shadow-red-600" name="updateNo">Annuler</button>
				</div>
			</form>
		{% else %}
			<form class="flex flex-col" action="/employees/{{employee.id}}" method="post">
				<div class="flex flex-col justify-center items-center gap-3 md:flex-row">
					<h2 class="text-2xl text-center md:text-3xl 2xl:text-4xl">Informations de l'employé sélectionné</h2>
					<div class="flex">
						<button type="button" class="2xl:text-2xl font-bold m-auto mt-2 mb-2 p-2 border rounded-lg w-fit bg-green-400 hover:bg-green-200 shadow-sm shadow-green-600" id="giveMission">Affecter une mission</button>
					</div>
				</div>
				<h3 class="font-bold m-auto md:text-2xl 2xl:text-3xl">Nom :</h3>
				<p class="m-auto md:text-xl 2xl:text-2xl">{{ employee.lastName }}</p>
				<h3 class="font-bold m-auto md:text-2xl 2xl:text-3xl">Prénom :</h3>
				<p class="m-auto md:text-xl 2xl:text-2xl">{{ employee.firstName }}</p>
				<h3 class="font-bold m-auto md:text-2xl 2xl:text-3xl">Mail :</h3>
				<p class="m-auto md:text-xl 2xl:text-2xl">{{ employee.mail }}</p>
				<h3 class="font-bold m-auto md:text-2xl 2xl:text-3xl">Date de naissance :</h3>
				<p class="m-auto md:text-xl 2xl:text-2xl">{{ employee.birthday }}</p>
				<h3 class="font-bold m-auto md:text-2xl 2xl:text-3xl">Genre :</h3>
				<p class="m-auto md:text-xl 2xl:text-2xl">
					{% if employee.gender == "male" %}
						Homme
					{% elseif employee.gender == "female" %}
						Femme
					{% elseif employee.gender == "other" %}
						Autre
					{% endif %}
				</p>
				<button class="2xl:text-2xl font-bold self-center m-auto mt-2 mb-2 p-2 border rounded-lg w-fit bg-blue-400 hover:bg-blue-200 shadow-sm shadow-blue-600" name="update" value="{{employee.id}}">Modifier</button>
			</form>
			<form class="flex flex-col" action="/employees/{{ employee.id }}/delete" method="post">
				<button class="2xl:text-2xl font-bold m-auto mt-2 mb-2 p-2 border rounded-lg w-fit bg-red-400 hover:bg-red-200 shadow-sm shadow-red-600">Supprimer</button>
			</form>
		{% endif %}

		<section class="flex flex-col">
			<h2 class="mt-5 text-2xl text-center md:text-3xl 2xl:text-4xl">Véhicule attribué :</h2>
			{% if employee.car %}
				<p class="text-center md:text-xl 2xl:text-2xl">{{ employee.car.name }}
					({{ employee.car.plate }})</p>
				<button class="2xl:text-2xl font-bold m-auto mt-2 mb-2 p-2 border rounded-lg w-fit bg-blue-400 hover:bg-blue-200 shadow-sm shadow-blue-600" id="giveCar">Attribuer un autre véhicule</button>
				<form class="flex flex-col" action="/cars/{{employee.car.id}}/take" method="post">
					<button class="2xl:text-2xl font-bold m-auto mt-2 mb-2 p-2 border rounded-lg w-fit bg-red-400 hover:bg-red-200 shadow-sm shadow-red-600" name="employee" value="{{employee.id}}">Retirer le véhicule</button>
				</form>
			{% else %}
				<button class="2xl:text-2xl font-bold m-auto mt-5 p-2 border rounded-lg w-fit bg-blue-400 hover:bg-blue-200 shadow-sm shadow-blue-600" id="giveCar">Attribuer un véhicule</button>
			{% endif %}
		</section>

		{% if error %}
			<p>{{ error }}</p>
		{% endif %}

		<dialog class="border border-blue-600 rounded-lg shadow-sm shadow-blue-300 absolute m-auto w-2xl" id="carModal">
			<form class="flex flex-col items-center md:gap-3" action="/employees/{{employee.id}}/give" method="post">
				<button class="2xl:text-2xl font-bold self-end border rounded-md w-8 mt-2 mr-2 bg-red-400 hover:bg-red-200 shadow-sm shadow-red-600 closeModal" type="button">X</button>
				<label class="m-auto md:text-lg 2xl:text-3xl" for="carId">Attribuer un véhicule</label>
				<select class="text-sm md:text-lg 2xl:text-2xl m-auto mt-2 mb-2 border border-blue-600 rounded-lg w-60 md:w-80 2xl:w-100 pl-1 shadow-sm shadow-blue-300" name="carId" id="carId">
					<option value="">--Sélectionnez un véhicule--</option>
					{% for car in company.cars %}
						{% if car.employeeId == null %}
							<option value="{{car.id}}">{{ car.name }}</option>
						{% endif %}
					{% endfor %}
				</select>
				<button class="2xl:text-2xl font-bold m-auto mt-2 mb-2 p-2 border rounded-lg w-fit bg-blue-400 hover:bg-blue-200 shadow-sm shadow-blue-600">Attribuer</button>
			</form>
		</dialog>

		<dialog class="border border-blue-600 rounded-lg shadow-sm shadow-blue-300 absolute m-auto w-2xl" id="missionModal">
			<form class="flex flex-col items-center md:gap-3" action="/missions/add" method="post">
				<button class="2xl:text-2xl font-bold self-end border rounded-md w-8 mt-2 mr-2 bg-red-400 hover:bg-red-200 shadow-sm shadow-red-600 closeModal" type="button">X</button>
				<label class="m-auto md:text-lg 2xl:text-3xl" for="tourId">Attribuer une tournée</label>
				<select class="text-sm md:text-lg 2xl:text-2xl m-auto mt-2 mb-2 border border-blue-600 rounded-lg w-60 md:w-80 2xl:w-100 pl-1 shadow-sm shadow-blue-300" name="tourId" id="tourId">
					<option value="">--Sélectionnez une tournée--</option>
					{% for tour in company.tours %}
						<option value="{{ tour.id }}">{{ tour.name }}</option>
					{% endfor %}
				</select>
				<label class="m-auto md:text-lg 2xl:text-3xl" for="date">Date de la mission</label>
				<input class="text-sm md:text-lg 2xl:text-2xl m-auto border border-blue-600 rounded-lg w-40 md:w-60 2xl:w-80 pl-1 shadow-sm shadow-blue-300" type="date" id="date" name="date">
				<button class="2xl:text-2xl font-bold m-auto mt-2 mb-2 p-2 border rounded-lg w-fit bg-blue-400 hover:bg-blue-200 shadow-sm shadow-blue-600" name="employeeId" value="{{ employee.id }}">Affecter</button>
			</form>
		</dialog>
	</main>
{% endblock %}

{% block script %}
	<script src="/static/scripts/employeeInformation.js"></script>
{% endblock %}
